@model LMSMvcCore.Models.CompanyDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CompanyDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CACNumber" class="control-label"></label>
                <input asp-for="CACNumber" class="form-control" />
                <span asp-validation-for="CACNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarnPerMonth" class="control-label"></label>
                <input asp-for="EarnPerMonth" class="form-control" />
                <span asp-validation-for="EarnPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label"></label>
                <textarea asp-for="CompanyAddress" class="form-control"></textarea>
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhoneNumber" class="control-label"></label>
                <input asp-for="CompanyPhoneNumber" class="form-control" />
                <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BVN" class="control-label"></label>
                <input asp-for="BVN" class="form-control" />
                <span asp-validation-for="BVN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIN" class="control-label"></label>
                <input asp-for="NIN" class="form-control" />
                <span asp-validation-for="NIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <input asp-for="ApplicationUserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
